* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  z-index: -1;
}

/* desktop version */

.nav-bar,
.footer-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  padding: 1rem;
}

.logo {
  border: 1px solid black;
  padding: 1rem;
  border-radius: 50%;
}

.links {
  display: flex;
  gap: 2.5rem;
}

li {
  list-style: none;
}

.footer-info {
  justify-content: flex-start;
  bottom: 0;
  width: 100%;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin: 5rem;
}

.fa-heart {
  margin-top: -20px;
  margin-left: 35%;
}

/* home page */

.bre-img {
  width: 10rem;
  height: 10rem;
  border-radius: 35px;
}

.name-with-likes {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

article {
  margin-bottom: 1rem;
}
